
.main_title {
    text-align: center;
}
.main_title h1 {
    font-size: 50px ;
    margin-top:30px;
    font-weight: 700;
}
.main_title p {
    color: rgb(101, 102, 119);
    letter-spacing: 1px;
}
.cards_home{  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 2rem;
    margin: 3rem 5vw;
    padding: 0;
    list-style-type: none;
}
