.pagination {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin: 1px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(73, 73, 73);
    cursor: pointer;
    color: #000;
}

.pagination button.active {
    font-weight: 800;
    border-color: #101010;
    background-color: #000;
    color:#eee;
}